:root {
  box-sizing: border-box;
  --background-color: #f6f5ec;
  --primary-color: #175616;
  --secondary-color: #fffff0;
  --light-gray: #f2f5f2;
  --dark-gray: #eaecea;
  --danger: #b10707;
  --font-color: #475e46;
}

.hidden {
  display: none;
}

body {
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.th-container * {
  font-family: 'Roboto';
  text-align: initial;
  color: inherit;
}

.th-container > * {
  padding: 2em;
}

.th-container header {
  padding: 0;
  display: flex;
  align-items: baseline;
}

header > nav {
  margin-left: auto;
}

header > nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0 1em;
}

header > nav > ul > * + * {
  margin-left: 0.3rem;
}

.btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.8em 1.8em;
}

.btn.primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.3em;
  border: 0;
}

nav .btn {
  font-size: 0.97rem;
}

h1.logo {
  font-size: 22px;
}

.greeting {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin-left: 0.5em;
}

a.link {
  color: inherit;
  text-decoration: none;
}

.greeting .user {
  text-transform: uppercase;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8em 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f7f7cf' fill-opacity='0.98'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search {
  overflow: hidden;
  min-width: 40%;
  border: 2px solid var(--primary-color);
  border-radius: 0.5em;
  display: flex;
  background-color: var(--primary-color);
}

.search > * {
  font-size: 1rem;
  font-family: Roboto;
}

.search > :focus {
  outline: none;
}

.search input {
  flex: 1;
  display: block;
  border: 0;
  padding: 0.75em;
  background-color: #ffffff;
}

.search button {
  padding: 0.75em;
  border: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.hero > * + * {
  margin-top: 2em;
}

.logo {
  padding: 1em;
}

.logo.big {
  padding: 0;
  font-size: 48px;
}

footer {
  border: 1px solid black;
}

.ads {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "ad1 ad2 ad3"
    "how how how";
}

.ads > * {
  border: 1px solid pink;
  padding: 1em;
}

.ad1 {
  grid-area: ad1;
}
.ad2 {
  grid-area: ad2;
}
.ad3 {
  grid-area: ad3;
}
.how {
  grid-area: how;
  background-color: var(--light-gray);
  border: 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 1.5em 0;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "aside threads threads threads threads";
  gap: 2em;
}

.ads,
.th-container main {
  padding-left: 4em;
  padding-right: 4em;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}
.category-nav > * + * {
  margin-top: 2em;
}
.categories > * {
  padding: 1em 2rem;
}
.heading {
  font-weight: normal;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
}
.categories .category {
  display: block;
  font-size: 0.95em;
  background-color: var(--light-gray);
}
.categories .category.current {
  border-left: 4px solid var(--primary-color);
}
.categories .category:nth-child(2n + 1) {
  background-color: var(--dark-gray);
}
.threads {
  grid-area: threads;
}
.threads .heading {
  font-size: 1.3em;
  font-weight: normal;
  padding: 1em;
  text-align: center;
}
.posts {
  background-color: var(--secondary-color);
}
.posts > * {
  padding: 1em 3em;
  display: block;
}
.posts > * + * {
  border-top: 1px solid var(--light-gray);
}
.pagination {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.pagination > * + * {
  margin-left: 0.7em;
}
.page {
  font-size: 0.875rem;
}
.page.current {
  background-color: var(--secondary-color);
  min-width: 1.5em;
  min-height: 1.5em;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 0.3em;
  color: var(--primary-color);
}
.gototop {
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}
.disclaimer {
  padding: 1rem;
  color: var(--danger);
  text-align: center;
}
.thread-meta, .thread {
  padding: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f7f7cf' fill-opacity='0.98'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.thread-meta .wrapper {
  background-color: rgba(23, 86, 22, 0.7);
  padding: 2.5em 4em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.thread-meta .wrapper * {
  color: var(--secondary-color);
}
.thread-meta h1 {
  text-transform: capitalize;
  font-size: 26px;
}
.thread-meta a.author {
  color: #fdfda3f0;
  text-decoration: none;
}
.thread-meta button.save {
  background-color: #fdfda3f0;
  text-transform: capitalize;
  padding: 1em;
  font-size: 0.94rem;
  border-radius: 0.3em;
  color: var(--primary-color);
  border: 0;
  font-family: inherit;
  cursor: pointer;
}
.thread {
  padding: 4em;
  min-height: 100vh;
}
.thread > div + div {
  margin-top: 2em;
}
.post-wrapper {
  background-color: var(--light-gray);
}
.post-wrapper div.post {
  padding: 1.5em 2em;
}
.post-wrapper div.post div.meta {
  margin-bottom: 2em;
  display: flex;
  align-items: flex-end;
}
div.post blockquote {
  background-color: var(--dark-gray);
  padding: 1.5em;
  margin: 1em -1em;
}
div.meta img.author-img {
  width: 3em;
  height: 3em;
  border-radius: 0.3em;
  object-fit: cover;
  border: 1px solid var(--primary-color);
}
div.meta > div {
  margin-left: 0.8em;
  font-size: 0.87rem;
}
div.meta a.author {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.post-wrapper .reactions {
  padding: 1em 2em;
  background-color: var(--dark-gray);
}
.post-wrapper .reactions > * + * {
  margin-left: 1.5em;
}
.post-wrapper .reactions button {
  display: inline-flex;
  align-items: center;
  color: inherit;
  border: 0;
  background-color: inherit;
}
.post-wrapper .reactions button > span {
  margin-left: 0.8em;
  font-family: "Roboto";
}
.reactions svg.reaction {
  width: 1.5em;
  height: 1.5em;
}
.reactions .quote svg.reaction {
  stroke: #6b986a !important;
}
.reactions .like svg.reaction {
  fill: var(--danger) !important;
}
.reactions .share svg.reaction {
  fill: #6b986a !important;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding-top: 4em;
  align-items: flex-start;
  justify-content: center;
  z-index: 2000;
  font-family: Roboto;
}

.modal-content {
  width: 50%;
  max-width: 700px;
  background-color: white;
  border-radius: 0.8em;
  overflow: hidden;
}

.modal-header {
  background-color: var(--light-gray);
  padding: 1em;
}

.modal-header h2 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
